---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/nord"; // Imports your new skin
@import "minimal-mistakes"; // Imports the rest of the theme